:root {
  --hamburger-menu-size: 100px;
  --hamburger-menu-padding: 13px;
  --hamburger-menu-border-px: 1px;
  --hamburger-menu-border-color: #fff;
  --hamburger-menu-transition: 0.3s;
  --header-width: 55px;
  --header-color: #333;
  --nav-width: 150px;
}

.header {
  background: var(--header-color);
  display: flex;
  justify-content: space-between;
  height: 55px;
  line-height: 55px;
  position: relative;
  color: #fff;
  z-index: 999999;
}

.header a {
  text-decoration: none;
  color: #fff;
}

.header a:hover {
  color: #666;
  transition: all 500ms 0s ease;
}

.header__title {
  padding-left: 15px;
}

.header__content {
  display: none;
}

.header__content-mobile {
  display: block;
}

/* ハンバーガーメニュー */
.hamburger-menu {
  width: 42px;
  height: 42px;
  margin: 8px;
  cursor: pointer;
  position: relative;
  border-radius: 25px;
  background: #666;
}

.hamburger-menu-line {
  position: absolute;
  transition: var(--hamburger-menu-transition);
  width: calc(100% - var(--hamburger-menu-padding) * 2);
  height: var(--hamburger-menu-border-px);
  background-color: var(--hamburger-menu-border-color);
}

.line-top {
  top: var(--hamburger-menu-padding);
  left: var(--hamburger-menu-padding);
}

.line-middle {
  top: calc(50% - var(--hamburger-menu-border-px)/2);
  left: var(--hamburger-menu-padding);
}

.line-bottom {
  bottom: var(--hamburger-menu-padding);
  left: var(--hamburger-menu-padding);
}

.hamburger-menu-active > .line-top {
  top: calc(50% - var(--hamburger-menu-border-px)/2);
  transform: rotate(45deg);
}

.hamburger-menu-active > .line-middle {
  width: 0;
  height: 0;
  left: var(--hamburger-menu-padding);
}

.hamburger-menu-active > .line-bottom {
  top: calc(50% - var(--hamburger-menu-border-px)/2);
  transform: rotate(-45deg);
}

.header__content input {
  border: 1px #555 solid;
  background: #333;
  padding: 8px;
  text-indent: 5px;
  color: #bbb;
  width: 225px;
}

.header__content input:hover {
  background: #666;
  border: 0;
  transition: all 800ms 0s ease;
  color: #bbb;
}

/* nav */
.nav {
  display: none;
}

/* mobile nav */
.nav-mobile {
  background: var(--header-color);
  height: var(--nav-width);
  width: 100%;
  position: absolute;
  top: -100px;
  transform: translateY(0%);
  transition: 1s ease;
  z-index: 1;
}

.nav-mobile.active {
  transition: .8s ease;
  transform: translateY(100%);
  top: calc(55px - var(--nav-width));
}

.nav-mobile__wrap {
  padding: 10px;
}

.nav-mobile__wrap .search-box {
  text-align: right;
  display: flex;
  padding: 0 5px 0 5px;
}

.nav-mobile__wrap .search-box input {
  border: 0;
  background: #666;
  color: #fff;
  text-indent: 5px;
  height: 35px;
  flex: 10;
}

.nav-mobile__wrap .search-box .search-btn {
  flex: 2;
  text-align: center;
  height: 37px;
  line-height: 37px;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  background: #f90;
  border-bottom-right-radius: 10px 10px;
  border-top-right-radius: 10px 10px;
}

.nav-mobile__wrap .search-box .search-btn:hover {
  opacity: 0.5;
}

.nav-mobile__tag {
  list-style-type: none;
  display: inline-flex;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
}

.nav-mobile__tag li {
  padding: 10px;
  text-wrap: wrap;
}

.nav-mobile__tag a {
  background: transparent;
  color: #fff;
  text-decoration: none;
  padding: 3px 6px 3px 6px;
  border-radius: 5px;
}

.nav-mobile__tag a:hover {
  opacity: 0.5;
}

.tag-col-red {
  background: red !important;
}

.tag-col-green {
  background: green !important;
}

/* container */
.container {
  width: 100%;
  margin: 0 auto;
}

.container__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0 10px 0 10px;
}

.card {
  width: 50%;
}

.card .card__inner {
  background: #fff;
  margin: 5px;
}

.card .card__inner .card-img {
  overflow: hidden;
}

.card .card__inner .card-img {
  overflow: hidden;
  position: relative;
}

.card .card__inner .card-img .cart-img__genre {
  position: absolute;
  top: 5px;
  left: 5px;
}

/* pornhub */
.card .card__inner .card-img .cart-img__genre .pornhub {
  background-image: url("../images/pornhub.png");
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: contain;
  width: 65px;
  height: 25px;
}

/* xhamster */
.card .card__inner .card-img .cart-img__genre .xhamster {
  background-image: url("../images/xhamster.png");
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: contain;
  width: 65px;
  height: 25px;
}

/* xvideos */
.card .card__inner .card-img .cart-img__genre .xvideos {
  background-image: url("../images/xvideos.png");
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: contain;
  width: 65px;
  height: 25px;
}

.card.hide .card__inner {
  display: none;
}

.card img {
  width: 100%;
  min-height: 125px;
  max-height: 125px;
  vertical-align: bottom;
  transition:1s all;
}

.card img:hover {
}

.card__title {
  font-size: 12px;
  padding: 5px;
  word-break: break-word;
  line-height: 1.1rem;
}

.card__title a {
  text-decoration: none;
  color: #444;
  outline-style: none;
  transition: all 200ms 0s ease;
}

.card__title a:hover {
  text-decoration: none;
  color: #f90;
  outline-style: none;
}

.card__footer {
  display: block;
}

.card__footer .time {
  color: #777;
  text-align: right;
  font-size: 12px;
  padding: 0 5px 0 5px;
}

.card__footer .category {
  display: none;
}

.card__status {
  padding: 10px;
  text-align: center;
}

.card__status a:hover {
  opacity: 0.5;
}

/* bottom-nav */
.bottom-nav {
  position: fixed;
  bottom: 0;
  border-top: 1px #eee solid;
  background: #eee;
  width: 100%;
}
.bottom-nav ul {
  display: flex;
  justify-content: space-around;
}

.bottom-nav li {
  flex: 4;
  font-size: 20px;
  text-align: center;
}

.bottom-nav li a {
  display: block;
  color: #333;
  text-decoration: none;
  padding: 12px 0 12px 0;
}

.bottom-nav li a:hover {
  color: #aaa;
}

.bottom-nav li.favorite {
}

.bottom-nav li span {
  font-size: 14px;
  display: block;
  padding: 5px 0 5px 0;
}

.bottom-nav-home {
  color: red;
}

.fa-wrap {
  font-size: 30px;
  text-decoration: none;
}

.fa-wrap.green {
  color: green;
}

.fa-wrap.red {
  color: red;
}

.fa-wrap i {
  padding-left: 5px;
}

.fa-wrap .normal {
  color: #666;
  padding: 3px 3px;
}

/* footer */
.footer {
  display: none;
}
